.uname{
	color:#00f;
	font-weight: bold;
	font-size: 15px;
	font-family: Verdana, Geneva , sans-serif;
	display: inline-block;
}

.msg{
	color: #390;
	font-size: 15px;
	font-family: Georgia, "Times New Roman",Times, Geneva , sans-serif;
	display: block;
}

.button{
	text-align: center;
	background-color: #00f;
	border-width: 2px;
	border-style: solid;
	border-color: #000;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}